<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.taiji.cloudmp.mhpt.modules.resourcemanage.repository.HostStandardRepository">
    <resultMap id="BaseResultMap" type="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.HostStandard">
        <result column="id" property="id"></result>
        <result column="host_name" property="hostName"></result>
        <result column="cpu_default_num" property="cpuDefaultNum"></result>
        <result column="host_order" property="hostOrder"></result>
        <result column="host_ctime" property="hostCreateTime"></result>
        <result column="host_utime" property="hostUpdateTime"></result>
        <result column="cpu_standard_id" property="cpuStandardId"></result>
        <result column="cpu_service_items" property="cpuServiceItems"></result>
        <result column="cloud_vendor" property="cloudVendor"></result>
        <result column="memory_standard_id" property="memoryStandardId"></result>
        <result column="memory_service_items" property="memoryServiceItems"></result>
        <result column="memory_default_size" property="memoryDefaultSize"></result>
        <result column="disk_standard_id" property="diskStandardId"></result>
        <result column="disk_service_items" property="diskServiceItems"></result>
        <result column="disk_default_size" property="diskDefaultSize"></result>
        <result column="cloud_services_kind" property="cloudServicesKind"></result>
        <result column="gpu_standard_id" property="gpuStandardId"></result>
        <result column="gpu_service_items" property="gpuServiceItems"></result>
        <result column="gpu_default_num" property="gpuDefaultNum"></result>
        <result column="cloud_host_name" property="cloudHostName"></result>
        <result column="disk_unit" property="diskUnit"></result>
        <result column="os_standard_id" property="osStandardId"></result>
        <result column="os_service_items" property="osServiceItems"></result>
        <result column="system_disk_id" property="systemDiskId"></result>
        <result column="system_disk_items" property="systemDiskItems"></result>
        <result column="system_disk_size" property="systemDiskSize"></result>
        <result column="system_disk_unit" property="systemDiskUnit"></result>
        <result column="os_version" property="osVersion"></result>
        <result column="status" property="status"></result>
    </resultMap>
    <sql id="all_column">
        id, host_name, cpu_default_num, host_order, host_ctime, host_utime, cpu_standard_id, cpu_service_items, cloud_vendor, 
        memory_standard_id, memory_service_items, memory_default_size, disk_standard_id, disk_service_items, disk_default_size, 
        cloud_services_kind, gpu_standard_id, gpu_service_items, gpu_default_num, cloud_host_name, disk_unit, os_standard_id, 
        os_service_items, system_disk_id, system_disk_items, system_disk_size, system_disk_unit, os_version, status
    </sql>
    <sql id="where_clause">
        where 1=1
        <trim suffixOverrides="">
            <if test="cloudHostName!='' and cloudHostName!= null ">
                and cloud_host_name like CONCAT(CONCAT('%', #{cloudHostName}),'%')
            </if>
            <if test="cloudVendor!='' and cloudVendor!= null ">
                and cloud_vendor like CONCAT(CONCAT('%', #{cloudVendor}),'%')
            </if>
            <if test="id!='' and id!= null ">
                and id = #{id}
            </if>
            and status = 0
        </trim>
    </sql>

    <select id="HostStandardListCount" resultType="java.lang.Long" parameterType="Object">
        select count(1)
        from t_mhpt_hoststandard
        <include refid="where_clause"/>
    </select>

    <select id="HostStandardList" resultMap="BaseResultMap" parameterType="Object">
        select <include refid="all_column"/>
        from t_mhpt_hoststandard
        <include refid="where_clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
            ${pager.DBPageCondition}
        </if>
    </select>
    
    <insert id="createHostStandard" parameterType="Object">
        insert into t_mhpt_hoststandard (<include refid="all_column"/>) values
        (#{id},#{hostName},#{cpuDefaultNum},#{ hostOrder},#{hostCreateTime},#{hostUpdateTime},#{cpuStandardId},#{cpuServiceItems},
        #{cloudVendor},#{memoryStandardId},#{memoryServiceItems},#{memoryDefaultSize},#{diskStandardId},#{diskServiceItems},
        #{diskDefaultSize},#{cloudServicesKind},#{gpuStandardId},#{gpuServiceItems},#{gpuDefaultNum},#{ cloudHostName},
        #{diskUnit},#{osStandardId},#{osServiceItems},#{systemDiskId},#{systemDiskItems},#{systemDiskSize},#{systemDiskUnit},#{osVersion},#{status})
    </insert>

    <update id="updateHostStandard" parameterType="Object">
         update t_mhpt_hoststandard set
         ihost_name=#{hostName},cpu_default_num=#{cpuDefaultNum},host_order=#{hostOrder},host_ctime=#{hostCreateTime},host_utime=#{hostUpdateTime},
         cpu_standard_id=#{cpuStandardId},cpu_service_items=#{cpuServiceItems},cloud_vendor=#{cloudVendor},memory_standard_id=#{memoryStandardId},
         memory_service_items=#{memoryServiceItems},memory_default_size=#{memoryDefaultSize},disk_standard_id=#{diskStandardId},
         disk_service_items=#{diskServiceItems},disk_default_size=#{diskDefaultSize},cloud_services_kind=#{cloudServicesKind},gpu_standard_id=#{gpuStandardId},
         gpu_service_items=#{gpuServiceItems},gpu_default_num=#{gpuDefaultNum},cloud_host_name=#{ cloudHostName},disk_unit=#{diskUnit},os_standard_id=#{osStandardId},
         os_service_items=#{osServiceItems},system_disk_id=#{systemDiskId},system_disk_items=#{systemDiskItems},system_disk_size=#{systemDiskSize},
         system_disk_unit=#{systemDiskUnit},os_version=#{osVersion}
         where id = #{id}
    </update>

    <delete id="deleteHostStandard" parameterType="Object">
        update t_mhpt_hoststandard set
        status = 1
        where id in 
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
             #{item}
        </foreach>
    </delete>
    <select id="findById" parameterType="java.lang.String">
        select <include refid="all_column"/>
        from t_mhpt_hoststandard where id=#{id}
    </select>
</mapper>