<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.resourcemanage.repository.JudgeFullscoreRepository">
	<resultMap id="JudgeFullscore" type="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.JudgeFullscore">
		<id column="id" property="id" />
		<result column="full_score" property="fullScore" />
	</resultMap>
 	
 	<sql id="columns" >
        id, full_score
    </sql>
    
    <sql id="dynamicWhere">
		<where>
			<if test="id != null">
				and id = #{id}
        	</if>
			<if test="fullScore != null">
				and full_score = #{fullScore}
        	</if>
        </where>
	</sql>
    
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.JudgeFullscore">
  		insert into t_mhpt_judge_fullscore 
  		values 
  		( #{id}, #{fullScore} )
	</insert>
 	
 	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.JudgeFullscore">
		update t_mhpt_judge_fullscore set 
			full_score = #{fullScore},
		where id = #{id}
	</update>
 	
	<delete id="delete" parameterType="java.lang.String">
		delete from t_mhpt_judge_fullscore 
		where id = #{id}
	</delete>
 
	<select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.JudgeFullscore" resultMap="JudgeFullscore">
		select <include refid="columns" />
		from t_mhpt_judge_fullscore
		<include refid="dynamicWhere" />
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>
 
	<select id="findById" parameterType="java.lang.String" resultMap="JudgeFullscore">
		select <include refid="columns" />
		from t_mhpt_judge_fullscore
		where id = #{id}
	</select>
 	
 	<select id="findTotalCount" resultType="java.lang.Long" >
		select count(1)
		FROM t_mhpt_judge_fullscore
		<include refid="dynamicWhere" />
	</select>
</mapper>