<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.resourcemanage.repository.ResourcesdetailsRepository">
	<resultMap id="Resourcesdetails" type="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.Resourcesdetails">
		<id column="id" property="id" />
		<result column="resources_name" property="resourcesName" />
		<result column="resources_num" property="resourcesNum" />
		<result column="resource_unit" property="resourceUnit" />
		<result column="resource_ctime" property="resourceCtime" />
		<result column="resource_utime" property="resourceUtime" />
		<result column="resource_supplier" property="resourceSupplier" />
		<result column="type" property="type" />
		<result column="resource_index" property="resourceIndex" />
	</resultMap>
 	
 	<sql id="columns" >
        id, resources_name, resources_num, resource_unit, resource_ctime, resource_utime, resource_supplier, type, resource_index
    </sql>
    
    <sql id="dynamicWhere">
		<where>
			<if test="id != null">
				and id = #{id}
        	</if>
        </where>
	</sql>
    
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.Resourcesdetails">
  		insert into t_mhpt_resourcesdetails 
  		values 
  		( #{id}, #{resourcesName}, #{resourcesNum}, #{resourceUnit}, #{resourceCtime}, #{resourceUtime}, #{resourceSupplier}, #{type}, #{resourceIndex} )
	</insert>
 	
 	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.Resourcesdetails">
		update t_mhpt_resourcesdetails set 
			id = #{id},
			resources_name = #{resourcesName},
			resources_num = #{resourcesNum},
			resource_unit = #{resourceUnit},
			resource_ctime = #{resourceCtime},
			resource_utime = #{resourceUtime},
			resource_supplier = #{resourceSupplier},
			type = #{type},
			resource_index = #{resourceIndex},
			id = #{id}
		where id = #{id}
	</update>
 	
	<delete id="delete" parameterType="java.lang.String">
		delete from t_mhpt_resourcesdetails 
		where id in <foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>	</delete>
 
	<select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.resourcemanage.domain.Resourcesdetails" resultMap="Resourcesdetails">
		select <include refid="columns" />
		from t_mhpt_resourcesdetails
		<include refid="dynamicWhere" />
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>
 
	<select id="findById" parameterType="java.lang.String" resultMap="Resourcesdetails">
		select <include refid="columns" />
		from t_mhpt_resourcesdetails
		where id = #{id}
	</select>
 	
 	<select id="findTotalCount" resultType="java.lang.Long" >
		select count(1)
		FROM t_mhpt_resourcesdetails
		<include refid="dynamicWhere" />
	</select>
</mapper>