<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.resourceApply.repository.ResApplyBaseInfoRepository">
	<resultMap id="ResApplyBaseInfo" type="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResApplyBaseInfo">
		<id column="id" property="id" />
		<result column="apply_company" property="applyCompany" />
		<result column="company_addr" property="companyAddr" />
		<result column="window_name" property="windowName" />
		<result column="apply_date" property="applyDate" />
		<result column="applyer_name" property="applyerName" />
		<result column="applyer_fax" property="applyerFax" />
		<result column="applyer_phone" property="applyerPhone" />
		<result column="applyer_email" property="applyerEmail" />
		<result column="tech_name" property="techName" />
		<result column="tech_fax" property="techFax" />
		<result column="tech_email" property="techEmail" />
		<result column="teah_phone" property="teahPhone" />
		<result column="plan_deploy_time" property="planDeployTime" />
		<result column="shangxian_time" property="shangxianTime" />
		<result column="banjian_id" property="banjianId" />
		<result column="create_time" property="createTime" />
		<result column="creater" property="creater" />
		<result column="update_time" property="updateTime" />
		<result column="updater" property="updater" />
		<result column="banjian_code" property="banjianCode" />
		<result column="belong_network" property="belongNetwork" />
		<result column="is_agreement" property="isAgreement" />
		<result column="is_history" property="isHistory" />
		<result column="classified_level" property="classifiedLevel" />
		<result column="dilatation_state" property="dilatationState" />
		<result column="dilatation_count" property="dilatationCount" />
		<result column="cloud_vendor" property="cloudVendor" />
		<result column="cloud_services_kind" property="cloudServicesKind" />
		<result column="service_cycle" property="serviceCycle" />
		<result column="vpn_count" property="vpnCount" />
		<result column="ip_count" property="ipCount" />
		<result column="is_net" property="isNet" />
		<result column="expect_bandwidth" property="expectBandwidth" />
		<result column="other_needs" property="otherNeeds" />
	</resultMap>
 	
 	<sql id="columns" >
        id, apply_company, company_addr, window_name, apply_date, applyer_name, applyer_fax, applyer_phone, applyer_email, tech_name, tech_fax, tech_email, teah_phone, plan_deploy_time, shangxian_time, banjian_id, create_time, creater, update_time, updater, banjian_code, belong_network, is_agreement, is_history, classified_level, dilatation_state, dilatation_count, cloud_vendor, cloud_services_kind, service_cycle, vpn_count, ip_count, is_net, expect_bandwidth, other_needs
    </sql>
    
    <sql id="dynamicWhere">
        <trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
        	</if>
			<if test="applyCompany != null">
				and apply_company like concat(concat('%', #{applyCompany}),'%')
        	</if>
			<if test="windowName != null">
				and window_name like concat(concat('%', #{windowName}),'%')
        	</if>
			<if test="banjianCode != null">
				and banjian_code = #{banjianCode}
        	</if>
			<if test="isAgreement != null">
				and is_agreement = #{isAgreement}
        	</if>
	        <if test="state != null and state != ''">
	        	AND trans.state = #{state}
			</if>
			<if test="managerId != null and managerId != ''">
	        	AND trans.manager_id = #{managerId}
			</if>
		</trim>
	</sql>
    
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResApplyBaseInfo">
  		insert into t_mhpt_res_apply_base_info 
  		values 
  		( #{id}, #{applyCompany}, #{companyAddr}, #{windowName}, #{applyDate}, #{applyerName}, #{applyerFax}, #{applyerPhone}, #{applyerEmail}, #{techName}, #{techFax}, #{techEmail}, #{teahPhone}, #{planDeployTime}, #{shangxianTime}, #{banjianId}, #{createTime}, #{creater}, #{updateTime}, #{updater}, #{banjianCode}, #{belongNetwork}, #{isAgreement}, #{isHistory}, #{classifiedLevel}, #{dilatationState}, #{dilatationCount}, #{cloudVendor}, #{cloudServicesKind}, #{serviceCycle}, #{vpnCount}, #{ipCount}, #{isNet}, #{expectBandwidth}, #{otherNeeds} )
	</insert>
 	
 	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResApplyBaseInfo">
		update t_mhpt_res_apply_base_info set 
			apply_company = #{applyCompany},
			company_addr = #{companyAddr},
			window_name = #{windowName},
			apply_date = #{applyDate},
			applyer_name = #{applyerName},
			applyer_fax = #{applyerFax},
			applyer_phone = #{applyerPhone},
			applyer_email = #{applyerEmail},
			tech_name = #{techName},
			tech_fax = #{techFax},
			tech_email = #{techEmail},
			teah_phone = #{teahPhone},
			plan_deploy_time = #{planDeployTime},
			shangxian_time = #{shangxianTime},
			banjian_id = #{banjianId},
			create_time = #{createTime},
			creater = #{creater},
			update_time = #{updateTime},
			updater = #{updater},
			banjian_code = #{banjianCode},
			belong_network = #{belongNetwork},
			is_agreement = #{isAgreement},
			is_history = #{isHistory},
			classified_level = #{classifiedLevel},
			dilatation_state = #{dilatationState},
			dilatation_count = #{dilatationCount},
			cloud_vendor = #{cloudVendor},
			cloud_services_kind = #{cloudServicesKind},
			service_cycle = #{serviceCycle},
			vpn_count = #{vpnCount},
			ip_count = #{ipCount},
			is_net = #{isNet},
			expect_bandwidth = #{expectBandwidth},
			other_needs = #{otherNeeds}
		where id = #{id}
	</update>
 	
	<delete id="delete" parameterType="java.lang.String">
		delete from t_mhpt_res_apply_base_info 
		where id = #{id}
	</delete>
 
	<select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResApplyBaseInfo" resultMap="ResApplyBaseInfo">
		select <include refid="columns" />
		from t_mhpt_res_apply_base_info
		<include refid="dynamicWhere" />
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>
	
 

 	
 	<select id="findTotalCount" resultType="java.lang.Long" >
		select count(1)
		FROM t_mhpt_res_apply_base_info
		<include refid="dynamicWhere" />
	</select>
	<!-- ================================= -->
	
    <select id="findWithTrans" parameterType="java.lang.Object" resultType="java.util.Map">
		SELECT t.apply_company,t.banjian_code,t.is_agreement,t.window_name,trans.state,trans.state_desc
        FROM t_mhpt_res_apply_base_info t JOIN t_mhpt_order_trans trans ON t.id = trans.base_info_id 
	    <include refid="dynamicWhere" />
		
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>
	
	 <select id="findWithTransForCount" parameterType="java.lang.Object" resultType="java.lang.Long">
		SELECT count(1)
        FROM t_mhpt_res_apply_base_info t JOIN t_mhpt_order_trans trans ON t.id = trans.base_info_id 
        <include refid="dynamicWhere" />
	</select>
	
	<select id="findById" parameterType="java.lang.String" resultMap="ResApplyBaseInfo">
		select <include refid="columns" />
		from t_mhpt_res_apply_base_info
		where id = #{id}
	</select>

	
</mapper>