<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.resourceApply.repository.ResHostInfoRepository">
	<resultMap id="ResHostInfo" type="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResHostInfo">
		<id column="id" property="id" />
		<result column="banjian_id" property="banjianId" />
		<result column="base_info_id" property="baseInfoId" />
		<result column="host_id" property="hostId" />
		<result column="host_name" property="hostName" />
		<result column="host_cpu" property="hostCpu" />
		<result column="host_memory" property="hostMemory" />
		<result column="host_disk" property="hostDisk" />
		<result column="host_type" property="hostType" />
		<result column="bj_host_utime" property="bjHostUtime" />
		<result column="bj_host_ctime" property="bjHostCtime" />
		<result column="host_operating" property="hostOperating" />
		<result column="host_physical" property="hostPhysical" />
		<result column="service_net" property="serviceNet" />
		<result column="is_add" property="isAdd" />
		<result column="cpu_id" property="cpuId" />
		<result column="memory_id" property="memoryId" />
		<result column="disk_id" property="diskId" />
		<result column="host_taishu" property="hostTaishu" />
		<result column="is_update" property="isUpdate" />
		<result column="physical_id" property="physicalId" />
		<result column="host_gpu" property="hostGpu" />
		<result column="gpu_id" property="gpuId" />
		<result column="prev_equip_id" property="prevEquipId" />
		<result column="yun_host_type" property="yunHostType" />
		<result column="disk_unit" property="diskUnit" />
		<result column="system_disk_id" property="systemDiskId" />
		<result column="system_disk_size" property="systemDiskSize" />
		<result column="system_disk_unit" property="systemDiskUnit" />
		<result column="operating_id" property="operatingId" />
		<result column="opera_system_type" property="operaSystemType" />
		<result column="opr_system_version" property="oprSystemVersion" />
		<result column="copy_host_id" property="copyHostId" />
		<result column="status" property="status" />
	</resultMap>
 	
 	<sql id="columns" >
        id, banjian_id, base_info_id, host_id, host_name, host_cpu, host_memory, host_disk, host_type, bj_host_utime, bj_host_ctime, host_operating, host_physical, service_net, is_add, cpu_id, memory_id, disk_id, host_taishu, is_update, physical_id, host_gpu, gpu_id, prev_equip_id, yun_host_type, disk_unit, system_disk_id, system_disk_size, system_disk_unit, operating_id, opera_system_type, opr_system_version, copy_host_id, status
    </sql>
    
    <sql id="dynamicWhere">
		<where>
			<if test="id != null">
				and id = #{id}
        	</if>
        </where>
	</sql>
    
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResHostInfo">
  		insert into t_mhpt_res_host_info 
  		values 
  		( #{id}, #{banjianId}, #{baseInfoId}, #{hostId}, #{hostName}, #{hostCpu}, #{hostMemory}, #{hostDisk}, #{hostType}, #{bjHostUtime}, #{bjHostCtime}, #{hostOperating}, #{hostPhysical}, #{serviceNet}, #{isAdd}, #{cpuId}, #{memoryId}, #{diskId}, #{hostTaishu}, #{isUpdate}, #{physicalId}, #{hostGpu}, #{gpuId}, #{prevEquipId}, #{yunHostType}, #{diskUnit}, #{systemDiskId}, #{systemDiskSize}, #{systemDiskUnit}, #{operatingId}, #{operaSystemType}, #{oprSystemVersion}, #{copyHostId}, #{status} )
	</insert>
 	
 	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResHostInfo">
		update t_mhpt_res_host_info set 
			id = #{id},
			banjian_id = #{banjianId},
			base_info_id = #{baseInfoId},
			host_id = #{hostId},
			host_name = #{hostName},
			host_cpu = #{hostCpu},
			host_memory = #{hostMemory},
			host_disk = #{hostDisk},
			host_type = #{hostType},
			bj_host_utime = #{bjHostUtime},
			bj_host_ctime = #{bjHostCtime},
			host_operating = #{hostOperating},
			host_physical = #{hostPhysical},
			service_net = #{serviceNet},
			is_add = #{isAdd},
			cpu_id = #{cpuId},
			memory_id = #{memoryId},
			disk_id = #{diskId},
			host_taishu = #{hostTaishu},
			is_update = #{isUpdate},
			physical_id = #{physicalId},
			host_gpu = #{hostGpu},
			gpu_id = #{gpuId},
			prev_equip_id = #{prevEquipId},
			yun_host_type = #{yunHostType},
			disk_unit = #{diskUnit},
			system_disk_id = #{systemDiskId},
			system_disk_size = #{systemDiskSize},
			system_disk_unit = #{systemDiskUnit},
			operating_id = #{operatingId},
			opera_system_type = #{operaSystemType},
			opr_system_version = #{oprSystemVersion},
			copy_host_id = #{copyHostId},
			status = #{status},
			id = #{id}
		where id = #{id}
	</update>
 	
	<delete id="delete" parameterType="java.lang.String">
		delete from t_mhpt_res_host_info 
		where id = #{id}
	</delete>
 
	<select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.resourceApply.domain.ResHostInfo" resultMap="ResHostInfo">
		select <include refid="columns" />
		from t_mhpt_res_host_info
		<include refid="dynamicWhere" />
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>
 
	<select id="findById" parameterType="java.lang.String" resultMap="ResHostInfo">
		select <include refid="columns" />
		from t_mhpt_res_host_info
		where id = #{id}
	</select>
 	
 	<select id="findTotalCount" resultType="java.lang.Long" >
		select count(1)
		FROM t_mhpt_res_host_info
		<include refid="dynamicWhere" />
	</select>
</mapper>