<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.demo.repository.TestQingjiaRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.taiji.cloudmp.mhpt.modules.demo.domain.TestQingjia">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="date" property="date" />
		<result column="yuanyin" property="yuanyin" />
		<result column="suggestion" property="suggestion" />
		<result column="proc_inst_id" property="procInstId" />
		<result column="is_start" property="isStart" />
	</resultMap>


	<!-- sys_menu table all fields -->
	<sql id="Base_Column_List">
		t.id,t.name,t.date,t.yuanyin,t.suggestion,t.proc_inst_id,t.is_start
	</sql>


	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="name != null and name != ''">
				and t.name like concat(concat('%', #{name}),'%')
			</if>
			<if test="isStart != null and isStart != ''">
				and t.is_start = #{isStart}
			</if>
		</trim>
	</sql>

	<select id="findAllDaiShenHe" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM wait_handler wh JOIN test_qingjia t ON wh.proc_inst_id = t.proc_inst_id AND wh.user_id = #{userId}
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
		<!-- order by t.id desc  -->
	</select>

	<select id="findAllDaiShenHeByCount" resultType="java.lang.Long"
		parameterType="Object">
		select
		count(1)
		FROM wait_handler wh JOIN test_qingjia t ON wh.proc_inst_id = t.proc_inst_id AND wh.user_id = #{userId}
	</select>

	<select id="findQingJiaById" resultMap="BaseResultMap"
		parameterType="Object">
		select <include refid="Base_Column_List" />
		 FROM test_qingjia t where t.id = #{id}
	</select>

	<update id="updateSuggestion" parameterType="Object">
		<trim suffixOverrides=",">
			<if test="suggestion != null  and suggestion != '' ">
		update test_qingjia set
				suggestion=#{suggestion}
		where id=#{id}
			</if>
		</trim>
	</update>
	
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.demo.domain.TestQingjia">
		insert into
		test_qingjia(id, name, date, yuanyin, suggestion, proc_inst_id, is_start)
		values( #{id}, #{name}, #{date}, #{yuanyin}, #{suggestion}, #{procInstId}, #{isStart} )
	</insert>
	
	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.demo.domain.TestQingjia">
		update test_qingjia set 
		<if test="name != null and name != ''">
			name = #{name},
		</if>
		<if test="date != null and date != ''">
			date = #{date},
		</if>
		<if test="yuanyin != null and yuanyin != ''">
			yuanyin = #{yuanyin},
		</if>
		<if test="suggestion != null and suggestion != ''">
			suggestion = #{suggestion},
		</if>
		<if test="procInstId != null and procInstId != ''">
			proc_inst_id = #{procInstId},
		</if>
		<if test="isStart != null and isStart != ''">
			is_start = #{isStart},
		</if>
		id = #{id}
		where id = #{id}
	</update>
	
	<select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.demo.service.dto.TestQingjiaCriteria" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from test_qingjia t
		<include refid="Example_Where_Clause" />
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>
 	
 	<select id="findTotalCount" parameterType="java.lang.String" resultType="java.lang.Long" >
		select count(1)
		FROM test_qingjia t
		<include refid="Example_Where_Clause" />
	</select>
</mapper>   
