<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.activiti.repository.WaitHandlerRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.taiji.cloudmp.mhpt.modules.activiti.domain.WaitHandler">
		<result column="id" property="id" />
		<result column="task_id" property="taskId" />
		<result column="user_id" property="userId" />
		<result column="proc_inst_id" property="procInstId" />
	</resultMap>


	<!-- sys_menu table all fields -->
	<sql id="Base_Column_List">
		t.id,t.task_id,t.user_id,t.proc_inst_id
	</sql>




	<insert id="save" parameterType="Object">
		insert into
		wait_handler(id,task_id,user_id,proc_inst_id)
		values(#{id},#{taskId},#{userId},#{procInstId})
	</insert>


	
	<delete id="deleteWaitHandlerByTaskId" parameterType="Object">
		DELETE FROM wait_handler WHERE task_id = #{taskId}
	</delete>


</mapper>   
