<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.quartz.repository.QuartzJobRepository" >
    <resultMap id="QuartzJob" type="com.taiji.cloudmp.mhpt.modules.quartz.domain.QuartzJob" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="bean_name" property="beanName" jdbcType="VARCHAR" />
        <result column="method_name" property="methodName" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
        <result column="is_pause" property="isPause" jdbcType="BIT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="columns" >
        id, job_name, bean_name, method_name, params, cron_expression, is_pause, remark, update_time
    </sql>
	
    <sql id="dynamicWhere" >
		<where>
        	<if test="jobName != null">
        		job_name like concat(concat('%', #{jobName}),'%')
        	</if>
        </where>
	</sql>
	
	
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.quartz.domain.QuartzJob" >
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
 			SELECT LAST_INSERT_ID()
  		</selectKey>
    	INSERT INTO quartz_job (job_name, bean_name, method_name, params, cron_expression, is_pause, remark, update_time) 
        VALUES (#{jobName}, #{beanName}, #{methodName}, #{params}, #{cronExpression}, #{isPause}, #{remark}, #{updateTime})
    </insert>
	
	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.quartz.domain.QuartzJob">
		UPDATE quartz_job 
    	SET 
        	<if test="jobName != null">job_name = #{jobName},</if>
        	<if test="beanName != null">bean_name = #{beanName},</if>
        	<if test="methodName != null">method_name = #{methodName},</if>
        	<if test="params != null">params = #{params},</if>
        	<if test="cronExpression != null">cron_expression = #{cronExpression},</if>
        	<if test="isPause != null and isPause == true"> is_pause = 1,</if>
        	<if test="isPause != null and isPause == false">is_pause = 0,</if>
        	<if test="remark != null">remark = #{remark},</if>
        	<if test="updateTime != null">update_time = #{updateTime},</if>
        	id = #{id}
		WHERE 
            id = #{id}
	</update>
	
	<delete id="delete" parameterType="com.taiji.cloudmp.mhpt.modules.quartz.domain.QuartzJob">
    	delete from quartz_job
    	where id =#{id}
    </delete>
    
    <select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.quartz.service.dto.QuartzJobQueryCriteria" resultMap="QuartzJob" >
    	SELECT <include refid="columns" />
        FROM quartz_job
    	<include refid="dynamicWhere" />
       	<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
    </select>
	
	<select id="findById" parameterType="java.lang.Long" resultMap="QuartzJob">
		select <include refid="columns" />
		from quartz_job
		where id =#{id}
	</select>
	
	<select id="findByIsPauseIsFalse" resultMap="QuartzJob" >
		select <include refid="columns" />
		from quartz_job
		where is_pause = '0'
	</select>
	
	<select id="findTotalCount" resultType="java.lang.Long" >
		select count(1)
		FROM quartz_job 
		<include refid="dynamicWhere" />
	</select>

</mapper>