<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.taiji.cloudmp.mhpt.modules.monitor.repository.VisitsRepository">
    <!-- Result Map -->
    <resultMap id="BaseResultMap"
               type="com.taiji.cloudmp.mhpt.modules.monitor.domain.Visits">
        <result column="id" property="id" />
        <result column="date" property="date" />
        <result column="pv_counts" property="pvCounts" />
        <result column="ip_counts" property="ipCounts" />
        <result column="create_time" property="createTime" />
        <result column="week_day" property="weekDay" />
    </resultMap>

    <sql id="Base_Column_List">
		id,date,pv_counts,ip_counts,create_time,week_day
	</sql>

    <select id="findByDate" resultMap="BaseResultMap"
            parameterType="Object">
        select id,date,pv_counts,ip_counts,create_time,week_day
        from t_cloudmp_visits
        where date = #{date}
    </select>

    <insert id="save" parameterType="Object">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
 			SELECT LAST_INSERT_ID()
  		</selectKey>
        insert into
        t_cloudmp_visits(date,pv_counts,ip_counts,create_time,week_day) values
        (#{date},#{pvCounts},#{ipCounts},#{createTime},#{weekDay})
    </insert>

    <update id="update" parameterType="Object">
        update
        t_cloudmp_visits set id=#{id},date=#{date},pv_counts=#{pvCounts},ip_counts=#{ipCounts},create_time=#{createTime},week_day=#{weekDay}
        where id=#{id}
    </update>

    <select id="findAllVisits" resultMap="BaseResultMap"
            parameterType="Object">
        select *
        from t_cloudmp_visits
        where create_time between #{date1} and #{date2}
    </select>



</mapper>
