<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.taiji.cloudmp.mhpt.modules.system.repository.DeptRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.taiji.cloudmp.mhpt.modules.system.domain.Dept">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="pid" property="pid" />
		<result column="create_time" property="createTime" />
		<result column="enabled" property="enabled" />
	</resultMap>


	<!-- sys_menu table all fields -->
	<sql id="Base_Column_List">
		t.id,t.name,t.pid,t.create_time,t.enabled
	</sql>

		<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="ids != null and ids.size >0">
				and t.id in
				<foreach collection="ids" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="name != null and name != ''">
				and t.name like CONCAT('%', #{name}, '%')
			</if>
			<if test="enabled != null ">
				and t.enabled = #{enabled}
			</if>
		</trim>
	</sql>


	<select id="findAll" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_dept t
		<include refid="Example_Where_Clause" />
	</select>

	<select id="findById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_dept t
		where t.id = #{id}
	</select>

	<select id="findByPid" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_dept t
		where t.pid = #{pid}
	</select>


	<select id="findByRoles_Id" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_dept t
		LEFT OUTER JOIN
		t_cloudmp_roles_depts rd
		ON t.id = rd.dept_id
		LEFT OUTER JOIN
		t_cloudmp_role r
		ON rd.role_id = r.id
		where
		r.id=#{id}
	</select>

	<select id="findNameById" resultType="java.lang.String" parameterType="Object">
		SELECT NAME FROM t_cloudmp_dept WHERE id = #{id}
	</select>

	<insert id="save" parameterType="Object">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		t_cloudmp_dept(id,name,pid,create_time,enabled)
		values(#{id},#{name},#{pid},#{createTime},#{enabled})
	</insert>

	<update id="update" parameterType="Object">
		update t_cloudmp_dept set
		<trim suffixOverrides=",">
			<if test="name != null  and name != '' ">
				name=#{name},
			</if>
			<if test="pid != null">
				pid=#{pid},
			</if>
			<if test="enabled != null ">
				enabled = #{enabled},
			</if>
		</trim>
		where id=#{id}
	</update>

	<delete id="deleteById" parameterType="Object">
		delete from t_cloudmp_dept
		where id = #{id}
	</delete>
	

	
    <delete id="deleteDeptLinkedRoles" parameterType="Object">
		delete from t_cloudmp_roles_depts
		where dept_id = #{id}
	</delete>
	
	
	<select id="findDeptCountLinkedRoles" resultType="java.lang.Long" parameterType="Object">
		SELECT COUNT(1) FROM t_cloudmp_roles_depts WHERE dept_id = #{deptId}
	</select>


	<select id="findDeptByRole" parameterType="java.lang.Long" resultMap="BaseResultMap" >
		SELECT
				d.*
			FROM
				t_cloudmp_role r
			INNER JOIN t_cloudmp_roles_depts rd ON r.id = rd.role_id
			INNER JOIN t_cloudmp_dept d ON rd.dept_id = d.id
			WHERE
				r.id =#{id}
	</select>



</mapper>   
