<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.taiji.cloudmp.mhpt.modules.system.repository.MenuRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.taiji.cloudmp.mhpt.modules.system.domain.Menu">
		<result column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="i_frame" property="iFrame" />
		<result column="name" property="name" />
		<result column="component" property="component" />
		<result column="pid" property="pid" />
		<result column="sort" property="sort" />
		<result column="icon" property="icon" />
		<result column="path" property="path" />
	</resultMap>


	<!-- sys_menu table all fields -->
	<sql id="Base_Column_List">
		t.id,t.create_time,t.i_frame,t.name,t.component,t.pid,t.sort,t.icon,t.path
	</sql>




	<select id="findAll" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_menu t
		<if test="name != null and name != ''">
			WHERE t.name LIKE CONCAT('%', #{name}, '%') OR t.path
			LIKE
			CONCAT('%', #{name}, '%') OR t.component LIKE CONCAT('%',
			#{name},
			'%')
		</if>
	</select>

	<select id="findById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_menu t
		where t.id = #{id}
	</select>

	<select id="findByPid" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_menu t
		where t.pid = #{pid}
	</select>


	<select id="findByRoles_IdOrderBySortAsc" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_menu t
		LEFT OUTER JOIN
		t_cloudmp_roles_menus rm
		ON t.id =
		rm.menu_id
		LEFT OUTER JOIN
		t_cloudmp_role r
		ON rm.role_id = r.id
		where
		r.id=#{id}
		order by
		t.sort asc
	</select>

	<select id="findRoleCountByMenuId" resultType="java.lang.Long"
		parameterType="Object">
		select
		count(1)
		FROM t_cloudmp_menu t
		JOIN
		t_cloudmp_roles_menus rm
		ON t.id =
		rm.menu_id
		where
		t.id=#{id}
	</select>

	<select id="findByName" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_menu t
		where t.name = #{name}
	</select>

	<insert id="save" parameterType="Object">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		t_cloudmp_menu(id,create_time,i_frame,name,component,pid,sort,icon,path)
		values(#{id},#{createTime},#{iFrame},#{name},#{component},#{pid},#{sort},#{icon},#{path})
	</insert>

	<update id="update" parameterType="Object">
		update t_cloudmp_menu set
		<trim suffixOverrides=",">
			<if test="iFrame != null">
				i_frame=#{iFrame},
			</if>
			<if test="name != null  and name != '' ">
				name=#{name},
			</if>
			<if test="component != null and component != '' ">
				component=#{component},
			</if>
			<if test="pid != null ">
				pid=#{pid},
			</if>
			<if test="sort != null  ">
				sort=#{sort},
			</if>
			<if test="icon != null and icon != '' ">
				icon=#{icon},
			</if>
			<if test="path != null and path != '' ">
				path=#{path},
			</if>
		</trim>
		where id=#{id}
	</update>

	<delete id="deleteById" parameterType="Object">
		delete from t_cloudmp_menu
		where id = #{id}
	</delete>



	<!-- 通过角色获取权限 -->
	<select id="findMenuByRole" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		SELECT
		m.*
		FROM
		t_cloudmp_role r
		LEFT JOIN t_cloudmp_roles_menus rm ON r.id = rm.role_id
		LEFT JOIN t_cloudmp_menu m ON rm.menu_id = m.id
		WHERE
		r.id = #{id}
	</select>





</mapper>   
