<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.system.repository.PermissionRepository" >
    <resultMap id="Permission" type="com.taiji.cloudmp.mhpt.modules.system.domain.Permission" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="BIGINT"/>
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="columns" >
        id, name, pid, alias, create_time
    </sql>
    <sql id="dynamicWhere" >
        <where>
        	<if test="name != null">
        		name  like concat(concat('%', #{name}),'%')
        	</if>
        </where>
    </sql>
	
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.system.domain.Permission" >
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
 			SELECT LAST_INSERT_ID()
  		</selectKey>
    	INSERT INTO t_cloudmp_permission ( name, pid, alias, create_time) 
        VALUES (#{name}, #{pid}, #{alias}, #{createTime} )
    </insert>
	
	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.system.domain.Permission">
		update t_cloudmp_permission set
		<if test="name != null"> name = #{name},</if>
		<if test="pid != null"> pid = #{pid},</if>
		<if test="alias != null"> alias = #{alias},</if>
		<if test="createTime != null"> create_time = #{createTime},</if>
		id = #{id}
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
    	delete from t_cloudmp_permission
    	where id =#{id}
    </delete>
	
    <select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.system.service.dto.PermissionQueryCriteria" resultMap="Permission"  >
    	SELECT <include refid="columns" />
        FROM t_cloudmp_permission
    	<include refid="dynamicWhere" />
        
    </select>
	
	<select id="findById" parameterType="java.lang.Long" resultMap="Permission" >
		select <include refid="columns" />
		from t_cloudmp_permission
		where id =#{id}
	</select>
	
	<select id="findByPid" parameterType="java.lang.Long" resultMap="Permission" >
		select <include refid="columns" />
		from t_cloudmp_permission
		where pid =#{pid}
	</select>
	
	<select id="findByName" parameterType="java.lang.String" resultMap="Permission">
		select <include refid="columns" />
		from t_cloudmp_permission
		where name =#{name}
	</select>
	
	<select id="findByRoleId" parameterType="java.lang.Long" resultMap="Permission" >
		select p.*
		from t_cloudmp_permission p
		inner join t_cloudmp_roles_permissions rp on p.id = rp.permission_id
		inner join t_cloudmp_role r on r.id = rp.role_id
		where r.id = #{id}
	</select>
	
	<delete id="delete" parameterType="com.taiji.cloudmp.mhpt.modules.system.domain.Permission">
    	delete from t_cloudmp_permission
    	where id =#{id}
    </delete>
	
<!--	通过角色获取权限-->
	<select id="findPermissionByRole" parameterType="java.lang.Long" resultMap="Permission" >
			SELECT
				p.*
			FROM
				t_cloudmp_role r LEFT JOIN t_cloudmp_roles_permissions rpe on r.id = rpe.role_id
			  LEFT JOIN t_cloudmp_permission p on rpe.permission_id = p.id
  			WHERE r.id=#{id}
	</select>

</mapper>