<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.taiji.cloudmp.mhpt.modules.system.repository.RoleRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.taiji.cloudmp.mhpt.modules.system.domain.Role">
		<result column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="name" property="name" />
		<result column="remark" property="remark" />
		<result column="data_scope" property="dataScope" />
		<result column="level" property="level" />
	</resultMap>


	<!-- sys_menu table all fields -->
	<sql id="Base_Column_List">
		id,name,remark,level,data_scope,create_time
	</sql>

	<sql id="little_Column_List">
		id,name
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="ids != null">
				and id in
				<foreach collection="ids" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="name != null and name != ''">
				and name like CONCAT(CONCAT('%', #{name}),'%')
			</if>
		</trim>
	</sql>

<!--	新增-->
	<insert id="save" parameterType="com.taiji.cloudmp.mhpt.modules.system.domain.Role">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		t_cloudmp_role(create_time,name,remark,data_scope,level)
		values(#{createTime},#{name},#{remark},#{dataScope},#{level})
	</insert>

<!--	修改-->
	<update id="update" parameterType="Object">
		update t_cloudmp_role set
		<trim suffixOverrides=",">
			<if test="remark != null  and remark != '' ">
				remark=#{remark},
			</if>
			<if test="createTime != null ">
				create_time=#{createTime},
			</if>
			<if test="name != null and name!='' ">
				name=#{name},
			</if>
			<if test="dataScope != null ">
				data_scope=#{dataScope},
			</if>
			<if test="level != null ">
				level=#{level},
			</if>
		</trim>
		where id=#{id}
	</update>

<!--	通过ID删除-->
	<delete id="deleteById" parameterType="Object">
		delete 	 from t_cloudmp_role where id = #{id}
	</delete>

<!--	通过ID查询-->
	<select id="findById" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_role
		where id=#{id}
	</select>

<!--	查询全部-->
	<select id="findAll" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_role
		<where>
			<if test="name != null">
				name  like concat(concat('%', #{name}),'%')
			</if>
		</where>
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>



	<select id="findAllOfPage" resultMap="BaseResultMap"
			parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_role
	</select>


<!--    通过id查询名称-->
	<select id="findNameById" resultMap="BaseResultMap"
			parameterType="Object">
		select
		name
		FROM t_cloudmp_role t  where id=#{id}
	</select>


	<select id="findByName" resultMap="BaseResultMap"
			parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_role   where name=#{name}
	</select>


<!--    通过菜单ID获取角色-->
	<select id="findByMenusId" resultMap="BaseResultMap"
			parameterType="Object">
		select r.* from t_cloudmp_role r LEFT JOIN  t_cloudmp_roles_menus m on r.id=m.role_id WHERE m.menu_id=#{id}
	</select>

<!--	通过用户ID获取角色-->
	<select id="findByUsersId" resultMap="BaseResultMap"
			parameterType="Object">
		select r.* from t_cloudmp_role r LEFT JOIN  t_cloudmp_users_roles m on r.id=m.role_id WHERE m.user_id=#{id}
	</select>

<!--	删除前先校验是否有绑定用户-->
	<select id="findUserByRoleId" resultType="java.lang.Long"
			parameterType="Object">
		SELECT
			COUNT(*) AS count
		FROM
			t_cloudmp_users_roles rd
		LEFT JOIN t_cloudmp_user r ON r.id = rd.role_id
		WHERE
			rd.role_id =#{roleId}
	</select>


	<select id="getCount" resultType="java.lang.Long"
        parameterType="Object">
		select
		count(1)
		FROM t_cloudmp_role
		<where>
			<if test="name != null">
				name  like concat(concat('%', #{name}),'%')
			</if>
		</where>
	</select>

</mapper>
