<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.taiji.cloudmp.mhpt.modules.system.repository.RolesPermissionsRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.taiji.cloudmp.mhpt.modules.system.domain.RolesPermissons">
		<result column="role_id" property="roleId" />
		<result column="permission_id" property="permissionId" />
	</resultMap>


	<!-- sys_menu table all fields -->
	<sql id="Base_Column_List">
		role_id,permission_id
	</sql>

	<sql id="little_Column_List">
		role_id,permission_id
	</sql>


<!--	新增-->
	<insert id="save" parameterType="Object">
		insert into
		t_cloudmp_roles_permissions(role_id,permission_id)
		values(#{roleId},#{permissionId})
	</insert>

	<!--	修改-->
	<update id="update" parameterType="Object">
		update t_cloudmp_roles_permissions set
		<trim suffixOverrides=",">
			<if test="menuId != null  and menuId != '' ">
				menu_id=#{menuId},
			</if>
		</trim>
		where role_id=#{roleId}
	</update>

	<!--	通过ID删除-->
	<delete id="deleteById" parameterType="Object">
		delete 	 from t_cloudmp_roles_permissions where role_id = #{roleId}
	</delete>

	<!--	通过roleid查询-->
	<select id="findByRoleId" resultMap="BaseResultMap"
			parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_roles_permissions
		where role_id = #{roleId}
	</select>

	<!--	查询全部-->
	<select id="findAll" resultMap="BaseResultMap"
			parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_roles_permissions t
	</select>
	
	<!--	通过permissionid查询-->
	<select id="findByPermissionId" resultMap="BaseResultMap"
			parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_roles_permissions
		where permission_id = #{permissionId}
	</select>

</mapper>
