<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.taiji.cloudmp.mhpt.modules.system.repository.RolesDeptsRepository">
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.taiji.cloudmp.mhpt.modules.system.domain.RolesDepts">
		<result column="role_id" property="roleId" />
		<result column="dept_id" property="deptId" />

	</resultMap>


	<!-- sys_menu table all fields -->
	<sql id="Base_Column_List">
		role_id,dept_id
	</sql>

	<sql id="little_Column_List">
		role_id,dept_id
	</sql>



<!--	新增-->
	<insert id="save" parameterType="Object">
		insert into
		t_cloudmp_roles_depts(role_id,dept_id)
		values(#{roleId},#{deptId})
	</insert>

<!--	修改-->
	<update id="update" parameterType="Object">
		update t_cloudmp_roles_depts set
		<trim suffixOverrides=",">
			<if test="deptId != null  and deptId != '' ">
				dept_id=#{deptId},
			</if>
		</trim>
		where role_id=#{roleId}
	</update>

<!--	通过ID删除-->
	<delete id="deleteById" parameterType="Object">
		delete 	 from t_cloudmp_roles_depts where role_id=#{roleId}
	</delete>

<!--	通过ID查询-->
	<select id="findById" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_roles_depts
		where role_id=#{roleId}
	</select>

<!--	查询全部-->
	<select id="findAll" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		FROM t_cloudmp_roles_depts t
	</select>


</mapper>
