<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiji.cloudmp.mhpt.modules.processnodeconfig.repository.ProcessnodeConfigRepository">
	<resultMap id="ProcessnodeConfig" type="com.taiji.cloudmp.mhpt.modules.processnodeconfig.domain.ProcessnodeConfig">
		<id column="id" property="id" />
		<result column="procdef_id" property="procdefId" />
		<result column="procdef_name" property="procdefName" />
		<result column="node_id" property="nodeId" />
		<result column="node_name" property="nodeName" />
		<result column="form_file_path" property="formFilePath" />
		<result column="handler_id" property="handlerId" />
		<result column="handler_name" property="handlerName" />
		<result column="handler_loginname" property="handlerLoginname" />
		<result column="process_key" property="processKey" />
		<result column="dept_id" property="deptId" />
		<result column="role_id" property="roleId" />
	</resultMap>
 	
 	<sql id="columns" >
        id, procdef_id, procdef_name, node_name, form_file_path, handler_id, handler_name, handler_loginname, process_key, node_id, dept_id, role_id
    </sql>
    
    <sql id="dynamicWhere">
		<where>
			<if test="id != null">
				and id = #{id}
        	</if>
			<if test="procdefId != null">
				and procdef_id = #{procdefId}
        	</if>
			<if test="processKey != null">
				and process_key = #{processKey}
        	</if>
			<if test="nodeId != null">
				and node_id = #{nodeId}
        	</if>
        </where>
	</sql>
    
	<insert id="add" parameterType="com.taiji.cloudmp.mhpt.modules.processnodeconfig.domain.ProcessnodeConfig">
  		insert into processnode_config 
  		values 
  		( #{id}, #{procdefId}, #{procdefName}, #{nodeName}, #{formFilePath}, #{handlerId}, #{handlerName}, #{handlerLoginname}, #{processKey}, #{nodeId}, #{deptId}, #{roleId} )
	</insert>
 	
 	<insert id="addByList"  parameterType="java.util.ArrayList">
	    insert
	    into processnode_config(id, procdef_id, procdef_name, process_key, node_id, node_name)
	    values
	    <foreach collection="list" item="item" index="index" separator=",">
    		( #{item.id}, #{item.procdefId}, #{item.procdefName}, #{item.processKey}, #{item.nodeId}, #{item.nodeName} )
	    </foreach>
  </insert>
 	
 	<update id="update" parameterType="com.taiji.cloudmp.mhpt.modules.processnodeconfig.domain.ProcessnodeConfig">
		update processnode_config set 
			id = #{id},
			procdef_id = #{procdefId},
			procdef_name = #{procdefName},
			node_name = #{nodeName},
			form_file_path = #{formFilePath},
			handler_id = #{handlerId},
			handler_name = #{handlerName},
			handler_loginname = #{handlerLoginname},
			process_key = #{processKey},
			node_id = #{nodeId},
			dept_id = #{deptId},
			role_id = #{roleId},
			id = #{id}
		where id = #{id}
	</update>
 	
	<delete id="delete" parameterType="java.lang.String">
		delete from processnode_config 
		where id = #{id}
	</delete>
 
	<select id="findAll" parameterType="com.taiji.cloudmp.mhpt.modules.processnodeconfig.domain.ProcessnodeConfig" resultMap="ProcessnodeConfig">
		SELECT processnode_config.*, r.name roleName 
		from processnode_config 
		left join t_cloudmp_role r 
		on role_id = r.id 
		<include refid="dynamicWhere" />
		<if test="pager.DBPageCondition != null and pager.DBPageCondition != ''">
			${pager.DBPageCondition}
		</if>
	</select>
 
	<select id="findById" parameterType="java.lang.String" resultMap="ProcessnodeConfig">
		select <include refid="columns" />
		from processnode_config
		where id = #{id}
	</select>
 	
 	<select id="findTotalCount" parameterType="java.lang.String" resultType="java.lang.Long" >
		select count(1)
		FROM processnode_config
		<include refid="dynamicWhere" />
	</select>
	
 	<select id="findUserByConditions" parameterType="java.lang.String" resultType="com.taiji.cloudmp.mhpt.modules.system.domain.User" >
		select u.* from t_cloudmp_user u
		inner join t_cloudmp_dept d on u.dept_id = d.id
		inner join t_cloudmp_users_roles ur on ur.user_id = u.id
		inner join t_cloudmp_role r on r.id = ur.role_id
		<where>
			<if test="deptId != null and deptId != ''"> d.id = #{deptId} </if>
			<if test="roleId != null and roleId != ''"> and r.id = #{roleId} </if>
			<if test="userIds != null and userIds != ''"> and u.id in ( ${userIds} ) </if>
		</where> 
	</select>
</mapper>